.outer-sidebar {
  display: flex;
}

.sidebar {
  padding: 20px;
  width: 20%;
  background: #eee;
  height: auto;
}

.links {
  padding: auto;
  position: fixed;
}

.routes {
  flex: 1;
  padding: 10px;
}

.pieChart {
  width: 25%;
  height: 25%;
}

.navbar {
  margin-bottom: 0px;
}