body h1 {
  color: #777;
}

.outer-sidebar {
  display: flex;
}

.sidebar {
  padding: 3em;
  width: 16%;
  background: #eee;
  height: auto;
  margin-top: 0em;
  margin-left: 14em;
  margin-bottom: 11em;
}

.links {
  padding: auto;
  position: absolute;
  margin-left: -8em;
  margin-top: -3em;
  font-size: 10px;
}

a:focus {
  color: #777;
}

a:hover {
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.routes {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10em;
}

.navbar {
  min-height: 68px;
}

.logout {
  margin: 1em;
  padding: 5px;
}

#popover-positioned-bottom {
  min-width: 400px;
  max-width: 500px
}

.popover {
  background-color: #272822
}

.logo {
  float: left;
  margin-left: -4em;
  margin-top: 1em;
  width: 37%;
 }

a.brand.navbar-brand {
  width: 5em;
  padding: 14px;
}

.navbar-nav>li>a {
  line-height: 32px;
}

.navbar-brand {
  height: 55px;
  font-size: 22px;
  line-height: 42px;
  font-weight: bold;
}

.profilePic {
  float: left;
  margin-left: 0em;
  margin-top: -6px;
  width: 47px;
  border-radius: 25px;
}

a {
  color: #333;
}

li.sideLinks {
  font-size: larger;
  margin: 17px;
}

.middleContainer {
  width: 84%;
  margin: auto;
  background-color: #eee;
  /*padding: 116px;*/
  padding: 70px;
  /*margin-top: -132px;*/
  margin-top: -65px;
  margin-left: 12px;
}

.form-group {
  margin-bottom: 30px;
}

.col-sm-4 {
  margin: 5px;
  width: 50.333333%;
}

.pairMeButton {
  position: relative;
  bottom: -5em;
  left: -33%;
  margin-left: -7em;
}

.fa.fa-home, .fa.fa-user, .fa.fa-history {
  font-size: 15px;
  margin-right: 15px;
}
