.outer-sidebar {
  display: flex;
}

.sidebar {
  padding: 3em;
  width: 16%;
  background: #eee;
  height: auto;
  margin-top: -2em;
  margin-left: 5em;
}

.links {
  padding: auto;
  position: absolute;
  margin-left: -4em;
}

.routes {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10em;
}

.navbar {
  min-height: 68px;
}

.logout {
  margin: 1em;
  padding: 5px;
}

#popover-positioned-bottom {
  min-width: 400px;
  max-width: 500px
}

.popover {
  background-color: #272822
}

.logo {
  float: left;
  margin-left: -4em;
  margin-top: 1em;
  width: 43%;
 }

a.brand.navbar-brand {
  width: 5em;
  padding: 14px;
}

.navbar-nav>li>a {
  line-height: 32px;
}

.navbar-brand {
  height: 55px;
  font-size: 22px;
  line-height: 42px;
  font-weight: bold;
}

.profilePic {
  float: left;
  margin-left: 0em;
  margin-top: -6px;
  width: 47px;
  border-radius: 25px;
}

a {
  color: #333;
}

li.sideLinks {
  font-size: larger;
  margin: 17px;
}

.middleContainer {
  width: 70%;
  margin: auto;
}

.pairMeButton {
  position: relative;
  bottom: -7em;
  left: -36%;
  margin-left: -7em;
}

.fa.fa-home, .fa.fa-user, .fa.fa-history {
  font-size: x-large;
  margin-right: 15px;
}
