body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chat-container {
      border: 1px solid black;
      width: 500px;
      height: 400px;
      position: relative;
      float:right;
      overflow: scroll;
      overflow-x: hidden;
    }

      h4 {
        display:inline;
      }

    .chatbar {
      background: #a0a0a0;
      border-top: 1px solid black;
      width: 500px;
      padding: 5px;
      float: right;
      bottom: 0;
      position: absolute;
      background-color: red;
    }


    .chatbar-message {
      flex: 8;
      padding: 0 5px 0 5px;
      width: 350px;
    }

    .chatbar-username {
      flex: 2;
      color: pink;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
      color: blue;
    }


