body {
      background: white;
      color: black;
      /*font-family: 'Open Sans', sans-serif;*/
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      /*margin: 70px 0;*/
    }


    .challenge-question {
      margin-bottom: 20px;
      background: #F2F5F8;
      padding: 8px 10px 10px 15px;
      height: 130px;
    }

    .challenge-question .title {
      margin: 10px 0 0 0;
      font-weight: bold;
      margin-bottom: 15px;
    }

      h5 {
        margin-top: 13px;
      }

    .output-header {
      display: flex;
      width: 100%;
      background: #F2F5F8;
      border-bottom: 2px solid white;
      height: 50px;
      padding: 10px;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 20px;
    }


    .output {
      border: 1px solid #eee;
      width: 30%;
      height: 205px;
      position: relative;
      float: right;
      margin-top: 48px;
      background: #F2F5F8;
    }

    #editor {
      display: flex;
    }

    .resultLog {
      font-size: 14px;
    }

    .showAnswer {
      display: inline-block;
      margin-top: 7px;
    }

    #answerKey.ace_editor {
      margin-top: 10px;
    }

    .chat-container {
      /*border: 1px solid black;*/
      width: 30%;
      height: 450px;
      position: relative;
      float:right;
      background: #F2F5F8;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

      h4 {
        display:inline;
      }

    .chat-header {
      display: flex;
      width: 100%;
      background: #F2F5F8;
      height: 50px;
      padding: 10px;
      border-bottom: 2px solid white;
    }

    .chat-title {
      font-weight: bold;
      font-size: 20px;
    }

    footer.chatbar {
      background: #F2F5F8;
      border-top: 2px solid white;
      width: 100%;
      padding: 20px;
      float: right;
      bottom: 0;
      position: absolute;
    }


    .chatbar-message {
      flex: 8;
      padding: 0 5px 0 5px;
      width: 100%;
      /*margin: 0 auto;*/
    }

     textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .message {
      display: flex;
      padding: 5px;
      padding: 8px 25px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 10px;
      justify-content: flex-end
    }

    .message-list {
      overflow-y:auto;
      border-bottom: 2px solid white;
      height: 430px;
    }

    .message.from-me {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
    }

    .message.from-me .message-content {
      background-color: #86BB71;
      padding: 5px 10px;
      color: white;
      border: 1px;
      border-radius: 5px;
    }

    .message-content {
      display: inline-block;
      justify-content: flex-end;
      padding: 5px 5px;
      background-color: #94C2ED;
      border: 1px;
      border-radius: 5px;
      color:white;

      /*margin-top: 25px;*/
    }


     .from-me .chatbar-username {
      display:none;
    }

    .message .chatbar-username {
      color: #92959E;
      padding-right: 15px;
    }


    .navbar {
      margin-bottom: 20px;
      /*position: fixed;*/
    }

    .logout {
      margin: 11px;
      padding: 3px;
    }

    #popover-positioned-bottom {
      min-width: 400px;
      max-width: 500px
    }

    .popover {
      background-color: #272822
    }

    .logo {
      float: left;
      margin-left: 6px;
      margin-top: 12px;
      width: 25px;
    }

    a.brand.navbar-brand {
      width: 5em;
      padding: 14px;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 12px;
    }

    .profilePic {
      float: left;
      margin-left: -20px;
      margin-top: -9px;
      width: 37px;
      border-radius: 20px;
    }


    .showAnswer button {
      margin-right: 20px;
      margin-left: 15px;
    }
