body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      /*margin: 70px 0;*/
    }

    .challenge-question {
      margin-bottom: 5px;
    }
    .chat-container {
      border: 1px solid black;
      width: 30%;
      height: 400px;
      position: relative;
      float:right;
    }

      h4 {
        display:inline;
      }

    .editor {
      display: flex;
    }

    .chatbar {
      /*background: #a0a0a0;*/
      border-top: 1px solid black;
      width: 100%;
      padding: 5px;
      float: right;
      bottom: 0;
      position: absolute;
      /*background-color: red;*/
    }


    .chatbar-message {
      flex: 8;
      padding: 0 5px 0 5px;
      width: 350px;
    }

    .chatbar-username {
      flex: 2;
      color: pink;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message-list {
      overflow-y:auto;
      height: 380px;
    }

    .message-content {
      margin: 5px;
      padding: 0 10px;
      color: blue;
    }


