.friendsPic {
  width: 22%;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.friendsPic:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}

.friends {
  padding-top: 120px;
  margin: auto;
  width: 280px;
  margin-left: -39px;
}

.fa.fa-circle {
  color: #00d604;
  margin: 15px;
  font-size: xx-small;
}

.fa.fa-circle.offline {
  color: grey;
  margin: 15px;
  font-size: xx-small;
}

.oneFriend {
  margin: auto;
  padding-left: 7px;
  margin-bottom: 20px;
  margin-right: 61px;
}

.oneFriend:hover {
  background-color: #ddd;
}

.friendsName {
  float: right;
  margin-right: 35px;
  margin-top: 15px;
  font-family: sans-serif;
  font-weight: normal;
  color: darkslategray;
  position: relative;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  width: 10em;
  color: darkslategrey;
  margin-left: 20px;
}
