.wrapper {
  padding: 50px;
}

.wrapper img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.profile-info {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  float: left;
}

.edit-profile {
  float: right;
  margin: 60px;
}

.info {
  float: right;
  margin-right: 105px;
  padding-right: 148px;
  margin-top: 123px;
  font-size: large;
}

.about-me {
  float: right;
  margin-right: 105px;
  padding-right: 148px;
  margin-top: 123px;
  font-size: large;
}
