.statistics {
  position: relative;
  padding-top: 2em;
  width: 84%;
  margin: auto;
  background-color: #eee;
  margin-top: 10em;
  overflow: hidden;
  padding-bottom: 5em;
}

.pieChart {
  width: 20%;
  height: 25%;
  float: right;
  margin-right: 11em;
  margin-top: 2em;
}

.progressBar {
  margin-left: 4em;
}