.statistics {
  /*position: relative;*/
  padding-top: 1em;
  margin-top: 72px;
  /*width: 84%;*/
  /*margin: auto;*/
  background-color: #eee;
  overflow: hidden;
  padding-bottom: 5em;
  /*margin-left: 13px;*/
}

.pieChart {
  width: 30%;
  height: 25%;
  /*float: right;*/
  /*margin-right: 10em;*/
  margin-top: 6em;
}

.pieChart p {
  padding-top: 35px;
}

.progressBar {
  /*margin-left: 4em;*/
}

.label {
  font-size: 82%;
}

.avgDifficulty {
  position: absolute;
  margin: 100px;
  border-radius: 47px;

}
