body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }




